C:/Users/stajyer/source/repos/ToDo Application/ToDo Application with Database/bin
C:/Users/stajyer/source/repos/ToDo Application/ToDo Application with Database/obj
C:/Users/stajyer/source/repos/ToDo Application/ToDo Application with Database/Migrations